
html, body{
  min-height: 100%;
}
body {
  font-family: 'Helvetica', arial, sans-serif;
  background-color: #3D4241;
	font-size: 15px;
  }
  

p{
	margin-bottom: 5px;
	line-height: 1.5em;
}

h3{
  margin-top:0px;
	margin-bottom: 0px;
	
	font-size:16px;color:#fff;padding:10px 0;text-transform:uppercase;
}
small{color:#fff;}

button {
  font-size: 1em;
  padding: 10px;
  color: #111;
  border: 2px solid #06D85F;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
button:hover {
  background: #06D85F;
}
button:active {
  background: #06D85F;
  color: #fff;
}

textarea,input,select {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius:0px;
  margin: 1px;
  text-align:center;
  font-size: 16px;
  color: #222;
  outline: none;
  width: 90%;
  height: 30px;
  
}

.ey_body {
	background-color:#fff ;
/**	background-image: url('../img/bg.jpg') ;**/
	background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
}
.ey_link {
  color:#008CCA;
  text-decoration: none;
  font-weight:bold;
  padding:5px;
}
.ey_link:hover {
  color:#fff;
  padding:5px;
}

.ey_konten{
  position: relative;
	max-width: 850px;
	margin-top:1%;
	margin-left:auto;
  margin-right:auto;
	background-color: none;
	overflow: hidden;
	padding: 10px;
	
}

.ey_konten_1{
  width: 400px;
  min-height: 450px;
  background: #6B8E23 url('../img/sinyal.png') no-repeat right bottom ;
  padding: 0px;
  margin: 10px 5px;
  float: left;
  border: 0px solid #ccc;

}


.ey_konten_2{
  width: 400px;
  min-height: 450px;
  background: #333 url('../img/low.png') no-repeat right top ;
  border: none;
  margin: 10px 5px;
  float: left;
  border: 1px solid #ccc;
}

.ey_bawah{
	clear: both;
	padding: 10px;
	margin: 5px;
	text-align: center;
}
.ey_bawah b,.ey_bawah i {
  color:#555;
}
.ey_bawah b,.ey_bawah a {
  color:#555;
}

.logo {}
.ey_status {
  position: relative;
  background-color:#333;
  color: #fff;
  padding-top: 0px;
  margin-left:auto;
  margin-right:auto;
  width:400px;
  min-height: 450px;
}
.ey_isi {
  padding: 15px;
}
.ey_detail {
  position: relative;
  background-color: #333;
  color: #fff;
  padding-top: 0px;
  margin-left:auto;
  margin-right:auto;
  width:400px;
  min-height: 450px;
}


.ey_btn_a {
  background-color: #556B2F;
  border: 1px solid #efefef;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight:bold;
  margin: 10px 1px;
  height: 35px;
  cursor: pointer;
}
.ey_btn_a:hover{
  background-color: #555;
}

.ey_btn_b {
  background-color: #aa2633;
  border: 1px solid #efefef;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight:bold;
  margin: 10px 1px;
  cursor: pointer;
  height: 35px;
}
.ey_btn_b:hover{
  background-color: #555;
}

div.ey_tab {
  overflow: hidden;
  background-color: #f1f1f1;
  width: 100%;
  margin-left:auto;
  margin-right:auto;
  border-bottom:2px solid #111;
}

div.ey_tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding:15px;
  transition: 0.3s;
  font-weight:bold;
  font-size:16px;
  width:50%;
}

div.ey_tab button:hover {
  background-color: #ddd;
}

div.ey_tab button.active {
  background-color: #556B2F;
  color: #FFFFFF
}

.ey_tabcontent {
  display: none;
  border-top: none;
  padding-top:15px;
}

table.ey_tstatus {
  border-collapse: collapse;
  background-color: transparent;
  color: #FFFFFF;
}
table.ey_tstatus a{
  color:#fff000;
  text-decoration: none;
}

table.ey_tstatus tr:nth-of-type(odd) {
  background: transparent;
}
table.ey_tstatus td {
  border: 2px solid #FFFFFF;
  padding: 5px;
}

table.ey_tpaketwifi {
  border-collapse: collapse;
  background-color: transparent;
  width:90%;
  color: #FFFFFF;
}

table.ey_tpaketwifi td {
  border: 2px solid #FFFFFF;
  padding: 5px;
}
table.ey_tpaketwifi th {
  border: 2px solid #FFFFFF;
  padding: 10px 5px;
  font-weight:bold;
  font-size:14px;
  text-align:left;
}

table.ey_tpaketwifi tr:first-child{
  background:transparent;
  font-weight: bold;
  color: #FFFFFF;
}
table.ey_tpaketwifi tr:nth-child(even){
  background-color: transparent
}



.ey_overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.ey_overlay:target {
  visibility: visible;
  opacity: 1;
}

.ey_alert{background:#efefef;color:#bf0000;padding:10px;text-align:center;}
.ey_popup {
  margin: 70px auto;
  padding: 10px;
  background: #ddd;
  border:1px solid #efefef;
  width: 40%;
  position: relative;
  transition: all 5s ease-in-out;
}

.ey_popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.ey_popup .ey_close {
  position: absolute;
  top: 5px;
  right: 10px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.ey_popup .ey_close:hover {
  color: #bf0000;
}

@media screen and (max-width: 700px){
  .ey_popup{
    width: 70%;
  }
}

/* layar 850px kebawah */
@media screen and (max-width: 850px) {
	
.ey_konten {
  width: 90%;
	}
.ey_konten_1 {
  width: 43%;
	}
	
.ey_konten_2 {
  clear: both;
  height: auto;
  width: auto;
  float: none;
	}
.ey_status {
  width: 90%;
  float: none;
	}
.ey_detail {
  width: 90%;
  float: none;
	}
table.ey_tpaketwifi {
  width:100%;
}
}


/*  layar 600px kebawah */
@media screen and (max-width: 600px) {
	
.ey_konten {
  width: 90%;
	}
.ey_bawah{
  text-align: center;
	}
.ey_konten_1 {
  width: auto;
 float: none;
	}
	
	
.ey_konten_2 {
  width: auto;
  float: none;
	}
	
.ey_status {
  width: 90%;
  float: none;
	}
.ey_detail {
  width: 90%;
  float: none;
	}

table.ey_tpaketwifi {
  width:100%;
}
}



